fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic[email]
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
openai
openai-agents
groq
rich
asyncio
httpx
python-dateutil
